@using Hotel_Management.BAL;
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model IEnumerable<Hotel_Management.Areas.Role.Models.LOC_RoleModel>;
@{
    bool isAdmin = false;
    bool isManager = false;
    if (CommonVariables.IsAdmin())
    {
        isAdmin = true;
    }
    if (CommonVariables.IsManager())
    {
        isManager = true;
    }
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                @if (TempData["Message"] != null)
                {
                    @if (Convert.ToBoolean(TempData["Bool"]))
                    {
                        <div class="alert alert-success">
                            @TempData["Message"]
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-success">
                            @TempData["Message"]
                        </div>
                    }
                }
                <h5 class="card-title">Role Search</h5>
                <input id="filter-text" class="form-control me-2 m-3 border border-info" onkeyup="filterTable(this)" placeholder="Search" type="text" fdprocessedid="ee7wrj">
                @* <form method="post" asp-controller="LOC_Role" asp-action="RoleSearch" asp-area="Role" class="d-flex w-80" role="search">
                <input class="form-control me-2 m-3 border border-info" type="text" placeholder="Role" name="Role" />
                <button type="submit" class="btn btn-outline-success my-3 h-50">Filter</button>
                </form> *@
                <div class="table-responsive pt-3">
                    <table class="table table-striped project-orders-table">
                        <thead>
                            <tr>
                                <th class="ml-5">Role ID</th>
                                <th>Role Type</th>
                                <th>Created</th>
                                <th>Modified</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        @foreach (var row in Model)
                        {
                            <tbody id="ItemTableBody">
                                <tr>
                                    <td>@row.RoleID</td>
                                    <td>@row.Role</td>
                                    <td>@Convert.ToDateTime(row.Created).ToString("dd-MM-yyyy")</td>
                                    <td>@Convert.ToDateTime(row.Modified).ToString("dd-MM-yyyy")</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            @if (CommonVariables.UserID() == @row.UserID || isAdmin==true)
                                            {
                                                <a asp-area="Role" asp-controller="LOC_Role" asp-action="RoleAddEdit" asp-route-RoleID="@row.RoleID" class="btn btn-success btn-sm btn-icon-text mr-3">
                                                    Edit
                                                    <i class="typcn typcn-edit btn-icon-append"></i>
                                                </a>
                                                <a onclick="return confirmDelete();" asp-area="Role" asp-controller="LOC_Role" asp-action="DeleteByRoleID" asp-route-RoleID="@row.RoleID" class="btn btn-danger btn-sm btn-icon-text">
                                                    Delete
                                                    <i class="typcn typcn-delete-outline btn-icon-append"></i>
                                                </a>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="floating-container">
    <a asp-area="Role" asp-controller="LOC_Role" asp-action="RoleAddEdit"><div class="floating-button">+</div></a>
</div>
<script>
    function filterTable(searchText) {
        console.log(searchText.value);
        var stext = searchText.value.toLowerCase();
        $('#ItemTableBody tr').each(function () {
            var row = $(this);
            var id = row.find('td:eq(0)').text().toLowerCase();
            var type = row.find('td:eq(1)').text().toLowerCase();
            var created = row.find('td:eq(2)').text().toLowerCase();
            var modified = row.find('td:eq(3)').text().toLowerCase();

            if (id.includes(stext) || type.includes(stext) || created.includes(stext) || modified.includes(stext)) {
                row.show();
            } else {
                row.hide();
            }
        });
    }
   
        function confirmDelete() {
            return confirm("Are you sure you want to delete this Project?");
        }
</script>
