@using Hotel_Management.BAL;
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model IEnumerable<Hotel_Management.Areas.Role.Models.LOC_RoleModel>;
@{
    bool isAdmin = false;
    bool isManager = false;
    if (CommonVariables.IsAdmin())
    {
        isAdmin = true;
    }
    if (CommonVariables.IsManager())
    {
        isManager = true;
    }
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                @if (TempData["Message"] != null)
                {
                    @if (Convert.ToBoolean(TempData["Bool"]))
                    {
                        <div class="alert alert-success">
                            @TempData["Message"]
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-success">
                            @TempData["Message"]
                        </div>
                    }
                }
                <h5 class="card-title">Role Search</h5>
                <input class="col form-control me-2 m-3 border border-info" type="text" id="Role" placeholder="Filter by Role" oninput="filterRole()" />
                <form method="post" asp-controller="LOC_Role" asp-action="RoleSearch" asp-area="Role" class="d-flex w-80" role="search">
                    <input class="form-control me-2 m-3 border border-info" type="text" placeholder="Role" name="Role" />
                    <button type="submit" class="btn btn-outline-success my-3 h-50">Filter</button>
                </form>
                <div class="table-responsive pt-3">
                    <table class="table table-striped project-orders-table">
                        <thead>
                            <tr>
                                <th class="ml-5">Role ID</th>
                                <th>Role Type</th>
                                <th>Created</th>
                                <th>Modified</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var row in Model)
                            {
                                <tr class="role-item" data-role="@row.Role">
                                    <td>@row.RoleID</td>
                                    <td>@row.Role</td>
                                    <td>@Convert.ToDateTime(row.Created).ToString("dd-MM-yyyy")</td>
                                    <td>@Convert.ToDateTime(row.Modified).ToString("dd-MM-yyyy")</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            @if (CommonVariables.UserID() == @row.UserID || isAdmin == true)
                                            {
                                                <a asp-area="Role" asp-controller="LOC_Role" asp-action="RoleAddEdit" asp-route-RoleID="@row.RoleID" class="btn btn-success btn-sm btn-icon-text mr-3">
                                                    <i class="typcn typcn-edit btn-icon-append"></i>
                                                </a>
                                                <a onclick="return confirmDelete();" asp-area="Role" asp-controller="LOC_Role" asp-action="DeleteByRoleID" asp-route-RoleID="@row.RoleID" class="btn btn-danger btn-sm btn-icon-text">
                                                    <i class="bi bi-trash3"></i>
                                                </a>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="floating-container">
    <a asp-area="Role" asp-controller="LOC_Role" asp-action="RoleAddEdit"><div class="floating-button">+</div></a>
</div>
<script>
    function filterRole() {
        var inputRole = document.getElementById('Role').value.toUpperCase();
        var roles = document.getElementsByClassName('role-item');
        for (var i = 0; i < roles.length; i++) {
            var RoleName = roles[i].getAttribute('data-role').toUpperCase();
            console.log(RoleName);
            var display = (RoleName.indexOf(inputRole) > -1) ? 'table-row' : 'none';
            roles[i].style.display = display;
        }
    }

    function confirmDelete() {
        return confirm("Are you sure you want to delete this Role");
    }
</script>
