@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model Hotel_Management.Areas.Room.Models.LOC_RoomModel;
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            @if (Model.RoomID == null)
            {
                <h4 class="card-title">Room Add</h4>
            }
            else
            {
                <h4 class="card-title">Room Edit</h4>
            }
            <form class="form-sample" enctype="multipart/form-data" method="post" asp-area="Room" asp-controller="LOC_Room" asp-action="SaveForAddEdit">
                <input type="hidden" asp-for="@Model.RoomID" />
                <div class="row">
                    <div class="form-group col-12">
                        <label for="exampleFormControlSelect1" asp-for="@Model.RoomImage">Select Room Image<span class="text-danger">*</span></label>
                        <input type="file" class="form-control" asp-for="@Model.RoomImageFile" />
                        @if (Model != null)
                        {
                            <div>
                                <label>@Model.RoomImage</label>
                            </div>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Type<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <select class="form-control border border-dark" asp-for="RoomTypeID">
                                    <option value="none" selected disabled hidden>Select Type<span class="text-danger">*</span></option>
                                    @foreach (var abc in Model.typenames)
                                    {
                                        <option class="bg-light text-dark" value="@abc.RoomTypeID">@abc.TypeName</option>
                                    }
                                </select>
                                <span class="text-danger" asp-validation-for="RoomTypeID"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Status</label>
                            <div class="col-sm-9">
                                <select class="form-control border border-dark" asp-for="StatusID">
                                    <option value="none" selected disabled hidden>Select Status<span class="text-danger">*</span></option>
                                    @foreach (var abc in Model.status)
                                    {
                                        <option class="bg-light text-dark" value="@abc.StatusID">@abc.Status</option>
                                    }
                                </select>
                                <span class="text-danger" asp-validation-for="StatusID"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Child Capacity<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control border border-dark" asp-for="ChildCapacity" />
                                <span class="text-danger" asp-validation-for="ChildCapacity"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Adult Capacity<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control border border-dark" asp-for="AdultCapacity" />
                                <span class="text-danger" asp-validation-for="AdultCapacity"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Save</button>
                <button class="btn btn-info" onclick="history.back()">Cancel</button>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
