@using Hotel_Management.BAL;
@{
    bool isAdmin = false;
    bool isManager = false;
    if (CommonVariables.IsAdmin())
    {
        isAdmin = true;
    }
    if (CommonVariables.IsManager())
    {
        isManager = true;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin</title>
    <!-- base:css -->
    <link rel="stylesheet" href="~/Adminassets/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="~/Adminassets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Adminassets/css/floatingbutton.css" />
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Adminassets/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Adminassets/images/Animated A.gif" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!--For enctript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>

</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        @* @Html.Partial("_AdminHeader") *@
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex justify-content-center bg-gradient-primary text-white">
                <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand brand-logo p-4 my-4" style="color: white; text-decoration: none;">
                        <h3 class="m-0">Admin</h3>
                    </a>
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="typcn typcn-th-menu" style="color: white;"></span>
                    </button>
                </div>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <ul class="navbar-nav mr-lg-2">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link" href="#" data-toggle="dropdown" id="profileDropdown">
                            <span id="profileInitial" class="nav-profile-initial rounded-circle" style="color:white; background-color: rebeccapurple; display: inline-block; width: 40px; height: 40px; line-height: 40px; text-align: center;"></span>
                            <span class="nav-profile-name">@CommonVariables.UserName()</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item" asp-area="User" asp-controller="SEC_User" asp-action="SignUp" asp-route-UserID="@CommonVariables.UserID()">
                                <i class="typcn typcn-cog-outline text-primary"></i>
                                Edit profile
                            </a>
                            <a class="dropdown-item" asp-area="User" asp-controller="SEC_User" asp-action="Logout">
                                <i class="typcn typcn-eject text-primary"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                    
                </ul>
                <!--Date-->
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-date">
                        <div class="current-date-time nav-link d-flex justify-content-center align-items-center">
                            <!-- Placeholder for current date and time -->
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid page-body-wrapper">
            @Html.Partial("_AdminSideBar")
            <div class="main-panel">
                @RenderBody()
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>


    <!-- container-scroller -->
    <!-- base:js -->
    <script src="~/Adminassets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script src="~/Adminassets/vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/Adminassets/js/off-canvas.js"></script>
    <script src="~/Adminassets/js/hoverable-collapse.js"></script>
    <script src="~/Adminassets/js/template.js"></script>
    <script src="~/Adminassets/js/settings.js"></script>
    <script src="~/Adminassets/js/todolist.js"></script>
    <script src="~/Adminassets/js/file-upload.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/Adminassets/js/dashboard.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!-- End custom js for this page-->
    <script>
        //Code for first name
        var usernameElement = document.querySelector('.nav-profile-name');
        var username = usernameElement.textContent.trim();
        var firstCharacter = username.charAt(0);
        var profileInitial = document.getElementById('profileInitial');
        profileInitial.textContent = firstCharacter;

    </script>
    <script>
        // Function to update current date and time
        function updateDateTime() {
            var currentDate = new Date();
            var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };
            var formattedDate = currentDate.toLocaleDateString('en-US', options);
            document.querySelector('.current-date-time').textContent = formattedDate;
        }

        // Call updateDateTime function initially
        updateDateTime();

        // Update date and time every second
        setInterval(updateDateTime, 1000);
    </script>
</body>

</html>

