@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model Hotel_Management.Areas.Staff.Models.LOC_StaffModel;
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Staff Detail</h4>
            <div class="row">
                <div class="col-4 mx-2">
                    <div style="width: 20rem;" class="rounded-circle">
                        <div class="text-center my-3" style="font-size:large">Profile Photo</div>
                        <img class="card-img-top" style="height:50vh" src="@Model.StaffImage" alt="@Model.StaffImage" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group row">
                        <div class="col-sm-4">Full Name</div>
                        <div class="col-sm-8 form-control form-control-rounded">@Model.FirstName @Model.LastName</div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">Phone Number</div>
                        <div class="col-sm-8 form-control form-control-rounded">@Model.StaffNumber</div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">Role</div>
                        <div class="col-sm-8 form-control form-control-rounded">@Model.Role</div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">Email Address</div>
                        <div class="col-sm-8 form-control form-control-rounded">@Model.StaffEmail</div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">Date of Birth</div>
                        <div class="col-sm-8 form-control form-control-rounded">@Model.DateOfBirth</div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">Salary</div>
                        <div class="col-sm-8 form-control form-control-rounded">@Model.Salary</div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">Date of Joining</div>
                        <div class="col-sm-8 form-control form-control-rounded">@Model.DateOfJoining</div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">IDProof</div>
                        <div class="col-sm-8 form-control form-control-rounded">@Model.IDProof</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">ID Proof Photo</div>
                        <div class="col-sm-8"><img class="card-img-top" style="height:50vh; width:20rem" src="@Model.IDProofPhotoPath" alt="@Model.IDProofPhotoPath" /></div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <form method="post" asp-area="Staff" asp-controller="LOC_Staff" asp-action="StaffAddEdit" asp-route-StaffID="@Model.StaffID">
                    <button type="submit" class="btn btn-success btn-sm btn-icon-text mr-3">
                        Edit
                        <i class="typcn typcn-edit btn-icon-append"></i>
                    </button>
                </form>
                <button onclick="history.back()" class="btn btn-info btn-sm btn-icon-text mr-3">
                    back
                    @* <i class="typcn typcn-edit btn-icon-append"></i> *@
                </button>
            </div>
        </div>
    </div>
</div>
@* <div class="content-wrapper">
    <div class="container-fluid">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Staff Detail</div>
                    <hr>
                    <div class="row">
                        <div class="col-4 mx-2">
                            <div style="width: 20rem;" class="rounded-circle">
                                <div class="text-center my-3" style="font-size:large">Profile Photo</div>
                                <img class="card-img-top" style="height:50vh" src="@Model.StaffImage" alt="@Model.StaffImage" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group row">
                                <div class="col-sm-4">Full Name</div>
                                <div class="col-sm-8 form-control form-control-rounded">@Model.FirstName @Model.LastName</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">Phone Number</div>
                                <div class="col-sm-8 form-control form-control-rounded">@Model.StaffNumber</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">Role</div>
                                <div class="col-sm-8 form-control form-control-rounded">@Model.Role</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">Email Address</div>
                                <div class="col-sm-8 form-control form-control-rounded">@Model.StaffEmail</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">Date of Birth</div>
                                <div class="col-sm-8 form-control form-control-rounded">@Model.DateOfBirth</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">Salary</div>
                                <div class="col-sm-8 form-control form-control-rounded">@Model.Salary</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">Date of Joining</div>
                                <div class="col-sm-8 form-control form-control-rounded">@Model.DateOfJoining</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">IDProof</div>
                                <div class="col-sm-8 form-control form-control-rounded">@Model.IDProof</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">ID Proof Photo</div>
                                <div class="col-sm-8"><img class="card-img-top" style="height:50vh; width:20rem" src="@Model.IDProofPhotoPath" alt="@Model.IDProofPhotoPath" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-4 align-content-center">
                        <div class="form-group mb-2 col-6">
                            <button type="button" class="btn btn-info btn-block" onclick="history.back()">Back</button>
                        </div>
                        <div class="form-group mb-2 col-6">
                            <a class="text-right" asp-area="Staff" asp-controller="LOC_Staff" asp-action="StaffAddEdit" asp-route-StaffID="@Model.StaffID">
                                <button type="button" class="btn btn-success btn-block">Edit</button>
                            </a>
                        </div>
                    </div>
                    @* <form>
                    <div style="width: 20rem; ">
                    <img class="card-img-top" style="height:20vh" src="@Model.StaffImage" alt="@Model.StaffImage" />
                    </div>
                    <div class="form-group row">
                    <div class="col-sm-2">Full Name</div>
                    <div class="col-sm-10 form-control form-control-rounded">@Model.FirstName @Model.LastName</div>
                    </div>
                    <div class="form-group row">
                    <div class="col-sm-2">Phone Number</div>
                    <div class="col-sm-10 form-control form-control-rounded">@Model.StaffNumber</div>
                    </div>
                    <div class="form-group row">
                    <div class="col-sm-2">Role</div>
                    <div class="col-sm-10 form-control form-control-rounded">@Model.Role</div>
                    </div>
                    <div class="form-group row">
                    <div class="col-sm-2">Email Address</div>
                    <div class="col-sm-10 form-control form-control-rounded">@Model.StaffEmail</div>
                    </div>
                    <div class="form-group row">
                    <div class="col-sm-2">Date of Birth</div>
                    <div class="col-sm-10 form-control form-control-rounded">@Model.DateOfBirth</div>
                    </div>
                    <div class="form-group row">
                    <div class="col-sm-2">Salary</div>
                    <div class="col-sm-10 form-control form-control-rounded">@Model.Salary</div>
                    </div>
                    <div class="form-group row">
                    <div class="col-sm-2">Date of Joining</div>
                    <div class="col-sm-10 form-control form-control-rounded">@Model.DateOfJoining</div>
                    </div>
                    <div class="form-group row">
                    <div class="col-sm-2">IDProof</div>
                    <div class="col-sm-10 form-control form-control-rounded">@Model.IDProof</div>
                    </div>
                    <div style="width: 20rem; ">
                    <img class="card-img-top" style="height:50vh" src="@Model.IDProofPhotoPath" alt="@Model.IDProofPhotoPath" />
                    </div>
                    <div class="form-row mt-4">
                    <div class="form-group mb-0 col-6">
                    <button type="button" class="btn btn-primary btn-block" onclick="history.back()">Back</button>
                    </div>
                    <div class="form-group mb-0 col-6 text-right">
                    <a class="text-right" asp-area="Staff" asp-controller="LOC_Staff" asp-action="StaffAddEdit" asp-route-StaffID="@Model.StaffID">
                    <button type="button" class="btn btn-success btn-block">Edit</button>
                    </a>
                    </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> *@
