@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model Hotel_Management.Areas.Staff.Models.LOC_StaffModel;
<div class="col-12 grid-margin">
    @if (TempData["Message"] != null)
    {
        @if (!Convert.ToBoolean(TempData["Bool"]))
        {
            <div class="alert alert-danger">
                @TempData["Message"]
            </div>
        }
    }
    <div class="card">
        <div class="card-body">
            @if (Model.StaffID == 0)
            {
                <h4 class="card-title">Staff Add</h4>
            }
            else
            {
                <h4 class="card-title">Staff Edit</h4>
            }
            <form class="form-sample" enctype="multipart/form-data" method="post" asp-area="Staff" asp-controller="LOC_Staff" asp-action="SaveForAddEdit">
                <input type="hidden" asp-for="@Model.StaffID" />
                <input type="hidden" asp-for="@Model.roles" />
                <p class="card-description">
                    Personal info
                </p>
                <div class="form-group">
                    <label for="exampleFormControlSelect1" asp-for="@Model.StaffImage">Select Profile Photo<span class="text-danger">*</span></label>
                    <input type="file" class="form-control" asp-for="@Model.StaffImageFile" />
                    @* <span asp-validation-for="StaffImage" class="text-danger"></span> *@
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">First Name<span style="color:red">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control border border-dark" asp-for="FirstName" />
                                <span asp-validation-for="FirstName" style="color:red"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Last Name<span style="color:red">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control border border-dark" asp-for="LastName" />
                                <span asp-validation-for="LastName" style="color:red"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Mobile Number<span style="color:red">*</span></label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control border border-dark" asp-for="StaffNumber" />
                                <span asp-validation-for="StaffNumber" style="color:red"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="exampleInputEmail1">Email<span style="color:red">*</span></label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control border border-dark" id="exampleInputEmail1" placeholder="Email" asp-for="StaffEmail">
                                <span asp-validation-for="StaffEmail" style="color:red"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Role</label>
                    <div class="col-10">
                        <select class="form-control border border-dark" asp-for="RoleID">
                            <option value="none" selected disabled hidden>Select Role</option>
                            @foreach (var abc in Model.roles)
                            {
                                <option class="bg-light text-dark" value="@abc.RoleID">@abc.Role</option>
                            }
                        </select>
                        <span asp-validation-for="RoleID" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Date Of Birth<span style="color:red">*</span></label>
                            <div class="col-sm-9">
                                <input class="form-control border border-dark" placeholder="dd/mm/yyyy" asp-for="DateOfBirth" />
                                <span asp-validation-for="DateOfBirth" style="color:red"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Date Of Joining<span style="color:red">*</span></label>
                            <div class="col-sm-9">
                                <input class="form-control border border-dark" placeholder="dd/mm/yyyy" asp-for="DateOfJoining" />
                                <span asp-validation-for="DateOfJoining" style="color:red"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Salary<span style="color:red">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control border border-dark" asp-for="Salary" />
                                <span asp-validation-for="Salary" style="color:red"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">ID Proof<span style="color:red">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control border border-dark" asp-for="IDProof" />
                                <span asp-validation-for="IDProof" style="color:red"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="exampleFormControlSelect1" asp-for="@Model.IDProofPhotoPath">Select Id Proof Photo<span class="text-danger">*</span></label>
                    <input type="file" class="form-control" asp-for="@Model.IDProofPhotoFile" />
                    @* <span asp-validation-for="IDProofPhotoPath" class="text-danger"></span> *@
                </div>
                <button type="submit" class="btn btn-primary mr-2">Save</button>
                <button class="btn btn-info" onclick="history.back()">Cancel</button>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
