@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Hotel_Management.Areas.Room.Models.LOC_RoomModel;
<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background-image: url(/img/carousel-1.jpg);">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Room Detail</h1>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Booking Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">Room Detail</h6>
            <h1 class="mb-5">Book A <span class="text-primary text-uppercase">Luxury Room</span></h1>
        </div>
        <div class="row g-5">
            <div class="col-6">

                @* <img class="img-fluid rounded w-150 h-200  wow zoomIn" data-wow-delay="0.1s" src="@Model.RoomImage" style="margin-top: 25%;"> *@
                <img class="img-fluid rounded w-250 h-100 wow zoomIn" data-wow-delay="0.1s" src="@Model.RoomImage" style="padding-left:75px">

            </div>
            <div class="col-lg-6">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <div>
                        <input type="hidden" asp-for="RoomID" />
                        <div class="row g-3">
                            <div class="col-12">
                                <div class="form-floating">
                                    <div class="form-control">@Model.TypeName</div>
                                    <label>Room Type</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <div class="form-control">@Model.PricePerDay</div>
                                    <label>Price </label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <p class="form-control" style="height: 100px">@Model.Description</p>
                                    <label for="message">Description</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <div class="form-control">@Model.ChildCapacity</div>
                                    <label>Child</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <div class="form-control">@Model.AdultCapacity</div>
                                    <label>Adult</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <a class="btn btn-primary w-100 py-3" asp-area="Booking" asp-controller="LOC_UserSideBooking" asp-action="UserSideBookingView" asp-route-RoomID="@Model.RoomID">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Booking End -->
